html {
    background-color: #F4F5FE;
}

body {
    font-family: $font-family;
    color: $gris_texto !important;
    font-size: 15px !important;
    background-color: #F4F5FE;
}

a {
    color: $negro !important;
    text-decoration: none !important;
}

table {
    caption-side: bottom;
    border-collapse: inherit;
}

td {
    padding: 0 !important;
}

h2 {
    font-weight: 800;
    font-size: 6vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600 !important;
    color: $negro !important;
}

main {
    height: 73vh;
}

label {

font-weight: bold;

}

.py-8 {
    adding-top: 8rem!important;
    padding-bottom: 8rem!important;
}

.mt-10 {
    margin-top: 10rem !important;
}

.card {
    max-height: 600px !important;
    border-radius: 12px;
}

.navbar {
    border-radius: 12px;
}

.carousel {
    border-radius: 12px;
    height: 200px !important;
}

.carousel img {
    border-radius: 12px;
    width: 100%;
    height: 200px;
}

form {
    max-height: 600px;
}
