
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
$font-family: 'Yantramanav', sans-serif;
// fuentes
$azul: #0000FD;
$blanco: #ffffff;
$verde: #49FF00;
$amaraillo: #FFF338;
$celeste: #0CECDD;
$rojo: #ff2850;
$negro: #1E2019;
$gris: #FDFDFD;
$dark: #252A34;
$principal: #EFEFEF;
$gris_texto: #4D4D4D;

$radius: 12px;
