@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
$font-family: 'Yantramanav', sans-serif;

$negro: #23272A;
$blanco: #FFFFFF;
$gris: #EFF5F9;
$gris_osucro: #C6D5DC;
